#LogIn{
	width: 100%;
	height: 300px;
	background-color: red;
}
#SignUp{
	width: 100%;
	height: 300px;
	background-color: blue;
}
#log{
	width: 100%;
	height: 50px;
	background-color: green;
}
#username{
	width: 98%;
	height: 50px;
	background-color: white;
}
#password{
	width: 75px;
	height: 50px;
	background-color: white;
}
#e-mail{
	width: 75px;
	height: 50px;
	background-color: black;
}
#mainFrame2{
	width: 100%;
	background-color: #FFCCCC;
}

#coursesDiv{
	text-align: center;
}

#top10Div{
	width: 30%;
}

#top10List{
	list-style-type: none;
}

#top10List li{
	padding-left: 12px;
	border-bottom: 2px solid;
}

#subFrame2{
	margin-top: 10px;
}
#video{
	width: 100%;
	height: 350px;
	background-color: #FF9999;
	margin-bottom: 10px;
}

#top10{
	height: 250px;
	background-color: #FF9999;
	margin-bottom: 10px;
}

#top10 h2{
	margin-left: 20%;
}

#course{
	background-color: #FF9999;
	margin: 10px;
	height: 200px;
	width: 200px;
	border-radius: 20px;
}

#mainFrame {
	width: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
}

#mainBackground{
	background-image: url("http://b.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2013/09/3016957-poster-p-1-google-will-power-the-online-learning-revolution-with-moocorg.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 45em;
	
}
#title{
	margin-left: 100px;
	margin-top: 200px;
}

#title h1{
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
: 'Quicksand', sans-serif;
	font-size: 50px;
}

#subTitle{
	margin-left: 100px;
}

#subTitle h4{
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
: 'Dosis', sans-serif;
	font-size: 20px;

}

#whatIsIt{
	background-color: #F0ECEB;
	width: 100%;
	height: 1000px;
	padding: 10px;
}

#whatIsItDiv {
	padding-left: 15em;
	padding-right: 15em;
	padding-top: 5em;
	text-align: center;
	height: 500px;
}

#videoDescMedia {
	padding-top: 2em;
}

#whatIsIt h2{
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
: 'Quicksand', sans-serif;
}

#whatIsIt p{
	font-family: 'Dosis', sans-serif;
: 'Maven Pro', sans-serif;
}

#learningStyle {
	height: 500px;
	background-color: #0583F2;
	padding: 10px,; 
	width: 100%;
}

#learningStyleDiv{
	padding-left: 15em;
	padding-right: 25em;
	padding-top: 2em;
	text-align: center;
}
#acordion{
	padding-top: 3em;
}	

#learningStyleText {
	padding-top: 2em;
}

#learningP{
	font-size: 12px;
}

#learningP2 {
	font-size: 16px;
	color: #D2D3D9;
}

#learningStyle span{
	margin-left: 10px; 
	font-size: 13px;
}

#purpose {
	text-align: center;
	padding-right: 15em;
	padding-left: 17em;
	padding-top: 8em;
	height: 500px;
}

#purposeText {
	padding-top: 2em;
}

#imgStyles {
	background-image: url("https://www.frbatlanta.org/~/media/Images/assets/image_gallery/learningstyles001h.ashx");
	width: 220px;
	height: 220px;
	border-radius: 100%;
}

#teamDesc {
	padding-right: 15em;
	padding-left: 17em;
	padding-top: 4em;
	background-color: #0583F2;
	height: 700px;
}

#teamDescText {
	text-align: center;
	margin-left: -30px;
	padding-top: 7em;
}

#teamImgDiv{
	padding-top: 3em;
}
#teamImg {
	background-image: url("file:///C:/Users/Gabriel/Documents/GitHub/markrivac.github.io/img/gabo.jpg");
	border-radius: 100%;
	height: 200px;
	width: 200px;
}

#teamImg2 {
	background-image: url("file:///C:/Users/Gabriel/Documents/GitHub/markrivac.github.io/img/gabo.jpg");
	border-radius: 100%;
	margin-top: 20px;
	height: 200px;
	width: 200px;
}

#teamImg3 {
	background-image: url("file:///C:/Users/Gabriel/Documents/GitHub/markrivac.github.io/img/gabo.jpg");
	border-radius: 100%;
	margin-top: 10px;
	height: 200px;
	width: 200px;
}

#sponsorImg {
	background-image: url("file:///C:/Users/Gabriel/Documents/GitHub/markrivac.github.io/img/gabo.jpg");
	border-radius: 100%;
	margin-top: 9em;
	height: 200px;
	width: 200px;
}

#audience {
	text-align: center;
	background-color: #D2D3D9;
	padding-left: 15em;
	padding-right: 25em;
	padding-top: 3em;
	height: 500px;
}

#audienceText {
	padding-top: 7em;
}

#audienceImg {
	width: 400px;
	height: 300px;
	border-radius: 100%;
	background-image: url("http://www.experian.com/blogs/marketing-forward/wp-content/uploads/2013/08/audience-targeting.jpg");
}

#audImg {
	border-radius: 100%;
	padding-top: 3em;
}
#itzel{
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 25px; 
}
#gabo{
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 25px; 

}
#mark{
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 25px; 
}


.imagen{
width: 300px;
 height: 300px;
 border-radius: 150px;
-moz-border-radius: 150px;
-webkit-border-radius: 150px;
-khtml-border-radius: 150px;
 overflow: hidden;
 float: right;
}
